:root {
    /* Declara variáveis globais para o CSS */
    --branco: #f6f6f6;
    --verde-claro: #16AB34;
    --verde-escuro: #00430D;
    --preto: #1a1a1a;
    --cor-botao-pressionado: #159B30;
}

* {
    /* O "*" abrange todos os elementos do HTML */
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; /* Defina o tamanho da página para ocupar 100% do viewport height(vh) */
    box-sizing: border-box;
    /* Altera a altura e largura para que os elementos tenham compatibilidade com a resolução dos navegadores */
    background-color: var(--verde-claro);
    /* overflow-y: hidden; /* Remove a barra de rolagem da página */
}

.cabecalho {
    padding: 3% 0% 0% 16%;
}

.navegacao {
    display: flex;
    gap: 1em;
}

.link-cabecalho {
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.barra {
    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 500;
}

.conteudo {
    padding: 4% 16%;
    /* Diminui ou aumenta a margem sobre os elementos */
    display: flex;
    /* Método para organizar os elementos */
    align-items: center;
    /* Alinha o conteúdo no centro */
    justify-content: space-between;
    /* Espaça os conteúdos até a margem */
    gap: 1.5em;
}

.elementos {
    width: 50%;
    /* Define a largura do elemento */
    display: flex;
    /* Define o elemento como um flex container, tornando os seus filhos flex-itens */
    flex-direction: column;
    /* Estabelece que os elementos fiquem em coluna (um em cima do outro) */
    gap: 1.25em;
}

.titulo {
    font-size: 2.25rem;
    /* Estabelece o tamanho da fonte */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Estabelece o estilo/tipo da fonte */
    color: var(--branco);
    font-weight: 500;
    /* Estabelece a grossura da fonte */
}

.texto-destacado {
    color: var(--verde-escuro);
}

.textos {
    display: flex;
    /* Método capaz de organizar os elementos em uma interface */
    flex-direction: column;
    justify-content: center;
    gap: 1.25em;
    /* Espaça os elementos */
}

.paragrafo {
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.links {
    display: flex;
    /* Método capaz de organizar os elementos em uma interface */
    flex-direction: column;
    gap: 1.25em;
    /* Espaça os elementos */
}

.subtitulo {
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

.botao-contato {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border: 2px solid var(--branco);
    /* Estabelece o tamanho da borda do botão */
    width: 50%;
    text-align: center;
    /* Deixa o texto do botão no centro */
    border-radius: 80px;
    /* Estabelece o arredondamento das bordas do botão */
    font-size: 1rem;
    font-weight: 600;
    /* Estabelece a grossura da fonte */
    padding: 2%;
    text-decoration: none;
    /* Retira a linha embaixo do texto */
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao-contato:hover {
    /* Adiciona uma animação ao nosso botão */
    background-color: var(--cor-botao-pressionado);
}

.rodape {
    text-align: center;
    /* Alinha o texto no centro */
    background-color: var(--branco);
    padding: 1%;
    color: var(--preto);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.tuffine-site {
    color: #159B30;
}

@media (max-width: 900px) {

    /* Altera a interface se a resolução for de 900px */
    .cabecalho {
        display: flex;
        justify-content: center;
        padding: 15%;
    }


    .conteudo {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .elementos {
        width: auto;
    }

    .titulo {
        font-size: 2rem;
    }

}